In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/My Files/Courses/Python/Project_File/iphone.csv')
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,NaN,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

In [4]:
# 1 - The column names have spaces . rename the column names to have underscore '_' instead of space 
#  (try to do in one go instead of specifying each column nam in rename method)

df.columns = df.columns.str.replace(' ', "_")
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,NaN,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,NaN,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,NaN,4 GB

In [53]:
df.isnull().sum()

Product Name          0
Product URL           0
Brand                 0
Sale Price            0
Mrp                   0
Number Of Ratings     0
Number Of Reviews     0
Upc                   0
Star Rating          10
Ram                   0
dtype: int64

In [59]:
# 2- star rating for some of the models is missing in the dataset. fill those missing values with the average 
#    rating all the models.

mean_rating = df['Star_Rating'].fillna(df['Star_Rating'].mean())
mean_rating

0     4.575
1     4.600
2     4.600
3     4.575
4     4.500
      ...
57    4.500
58    4.575
59    4.600
60    4.600
61    4.575
Name: Star_Rating, Length: 62, dtype: float64

In [7]:
# 3- Now instead of filling missing values with avg rating of full dataset , fill with avg rating based on RAM.
# example: if rating for a 2 gb iphone is missing then take average of all other 2 gb phones rating and fill that value.

def missing_value(row):
    df_avg_rating = df.groupby('Ram')['Star_Rating'].mean()
    if pd.isna(row['Star_Rating']):
        return df_avg_rating.get(row['Ram'], None)
    return row['Star_Rating']

df['Star_Rating'] = df.apply(missing_value, axis=1)
df['Star_Rating']

0     4.536364
1     4.600000
2     4.600000
3     4.536364
4     4.500000
        ...
57    4.500000
58    4.591667
59    4.600000
60    4.600000
61    4.591667
Name: Star_Rating, Length: 62, dtype: float64

In [9]:
# 4- create a new column in the dataframe "Discount_Percentage" based on MRP and sale value
df['Discount_Percentage'] = ((df['Mrp'] - df['Sale_Price'])/df['Mrp'])*100
df.head()

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.536364,2 GB,0.0
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB,0.0
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB,0.0
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.536364,2 GB,0.0
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB,0.0

In [ ]:
#5- which model has highest percent discount ?

df['discount'] = (df['Mrp'] - df['Sale_Price'])/df['Mrp']*100
sorted_df = df.sort_values(by='discount', ascending=False)
sorted_df.iloc[1]['Product_Name']

'APPLE iPhone SE (White, 64 GB)'

In [13]:
# 6- find total no of models  each space configuration (128 GB , 64 GB etc)

model_counts = df['Ram'].value_counts()
model_counts.columns = ['Space_Configuration', 'Total_Models']
print(model_counts)

Ram
4 GB    29
6 GB    19
2 GB    13
3 GB     1
Name: count, dtype: int64

In [17]:
# 7- find total number of models for each color 

def extract_color(product_name):
    parts = product_name.split('(')
    if len(parts) > 1:
        color_part = parts[1].split(',')
        actual_color = color_part[0].strip()
        return actual_color
    return None

df['color'] = df['Product_Name'].apply(extract_color)
color_count = df['color'].value_counts().reset_index
color_count

<bound method Series.reset_index of color
Black             10
White             10
Silver             7
Gold               6
Space Grey         6
Red                5
Midnight Green     4
Pacific Blue       4
Graphite           4
Blue               2
RED                1
Coral              1
Green              1
Purple             1
Name: count, dtype: int64>

In [27]:
# 8- find total number of models by iphone version 

def fetch_model(product_name):
    name = product_name.split('(')
    model_name = name[0].strip()
    return model_name

df['models'] = df['Product _Name'].apply(fetch_model)
df['models'].value_counts()

models
APPLE iPhone 12 Pro Max    8
APPLE iPhone 12            7
APPLE iPhone 11            7
APPLE iPhone 12 Mini       6
APPLE iPhone 8 Plus        5
Apple iPhone XR            5
APPLE iPhone 11 Pro Max    5
APPLE iPhone 12 Pro        5
APPLE iPhone SE            5
APPLE iPhone 11 Pro        4
APPLE iPhone 8             3
APPLE iPhone XS Max        1
Apple iPhone SE            1
Name: count, dtype: int64

In [ ]:
# 9- list top 5 models having highest no of reviews 

top_5 = df.sort_values(by='Number _Of _Reviews', ascending=False)
top_5.head(5)

,Product _Name,Product _URL,Brand,Sale _Price,Mrp,Number _Of _Ratings,Number _Of _Reviews,Upc,Star _Rating,Ram,discount,color,Color,models
23,"Apple iPhone SE (White, 256 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,44999,54900,95909,8161,MOBFRFXHPZCHAPEH,4.5,2 GB,18.034608,White,None,Apple iPhone SE
53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB,22.051225,Black,None,APPLE iPhone SE
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,22.051225,Red,None,APPLE iPhone SE
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,24.814536,Black,None,APPLE iPhone SE
52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB,24.814536,White,None,APPLE iPhone SE

In [18]:
# 10 - what is the price diffrence between highest price and lowest price iphone (based on mrp)

highest_price = df['Mrp'].max()
lowest_price = df['Mrp'].min()

PriceDifferenceHighestLowest_Mrp = highest_price - lowest_price
PriceDifferenceHighestLowest_Mrp

110000

In [64]:
# 11-find total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for 11 and 12).

iphone_11_reviews = df[df['Product _Name'].str.contains('iPhone 11', case=False)]
iphone_12_reviews = df[df['Product _Name'].str.contains('iphone 12', case = False)]

total_reviews_11 = iphone_11_reviews['Number _Of _Reviews'].sum()
total_reviews_12 = iphone_12_reviews['Number _Of _Reviews'].sum()

final_result = pd.DataFrame({
    'iphone_category' : ['iphone 11', 'iphone 12'],
    'Total_reviews' : [total_reviews_11, total_reviews_12]
})

final_result

  iphone_category  Total_reviews
0       iphone 11          25965
1       iphone 12           2208

In [ ]:
# 12- which iphone has 3rd highest MRP

sorting = df.sort_values(by='Mrp', ascending=False).reset_index(drop = True)
third_highest_mrp_iphone = sorting.loc[2]

print(third_highest_mrp_iphone)

Product _Name               APPLE iPhone 11 Pro (Midnight Green, 512 GB)
Product _URL           https://www.flipkart.com/apple-iphone-11-pro-m...
Brand                                                              Apple
Sale _Price                                                       117900
Mrp                                                               140300
Number _Of _Ratings                                                 7088
Number _Of _Reviews                                                  523
Upc                                                     MOBFKCTSSJCWYGCC
Star _Rating                                                         4.6
Ram                                                                 4 GB
Name: 2, dtype: object

In [5]:
# 13- what is the average mrp of iphones which costs above 100,000

mrp_gretaterthan = df[df['Mrp'] > 100000]
avg_mrp = mrp_gretaterthan['Mrp'].mean()
avg_mrp

130559.09090909091